# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments & Secrets
.env
.venv
env/
venv/
*.key
*.pem
*.secret

# IDE and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs
*.log
